<link rel="stylesheet" href="/css/styles.css">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>
    <div class="bottom-page">
        <footer>
            <nav class="nav-bottom">
                <li><a href="/home">Accueil</a></li>
                <li><a href="/Jewels/list">Collection</a> </li>
                <li><a href="/about">About</a> </li>
                <p class="copyright">Steve&Remi Jewelry © 2022</p>
            </nav>                
        </footer>
    </div>
    </h3>
</body>
</html>

