<%- include("partials/header") %>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <section class="AboutUs">
        <h2>
            About Us Page
        </h2>
        <h4>
            <br/>Our team consists of two people. On one side, Steve Itte, the main developer of controllers, repositories.</br> 
            <br/>And on the other hand, Remi Belmadani, who took care of the css, the views and the server. We both worked on MySql table</br>
        </h4>
    </section>
</body>
</html>

<%- include("partials/footer") %>
