<%- include("partials/header") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Association</title>
</head>
<body>
    <section class="TopAssos">
        <h2>
            Association
        </h2>
        <h4>
            <br/>Our ambition ? Accelerate the destruction of the planet.</br>
            <br/>This is why we have chosen to donate all of our profits to the Destroy Earth association, which develops nuclear weapons.</br>
        </h4>
        <img src="Images/Association.jpg" alt="Logo Association">
    </section>
</body>
</html>

<%- include("partials/footer") %>
