<!-- views/auth_view.ejs -->
<%- include("partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="LogPage">
        <div class="LogTitle">
            <h1>Log In </h1>
        </div>
        <div class="LogForm">
            <form method="post" action="/auth/login">
                <input name="username" type="username" class="form-control" id="username" placeholder="Username" required>
                <input name="userpass" type="password" class="form-control" id="password" placeholder="Password" required>
                <button type="submit" class="LoginButton">Login</button>
            </form>
        </div>
        <div class="LogBalise">
            <button type="submit" onclick="window.location.href='/auth/logout'"  class="LogoutButton">Log out</button>
            <button type="submit" onclick="window.location.href='/auth/user'" class="UserButton">Users Only</button>
            <button type="submit" onclick="window.location.href='ADMIN/Users/list'" class="AdminButton">Admin Only</button>
            <button type="submit" onclick="window.location.href='/auth/protected'"class="protectedButton">User level dependant auto redirect</button>
            <button type="submit" onclick="window.location.href='/Users/edit/0'"class="protectedButton">Add a new user</button>
        </div>
    </div>
</body>
</html>
<%- include("partials/footer") %>
  
