<%- include("partials/header") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steve&Remi Jewelry</title>
    <link rel="stylesheet" href="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
</head>
<body>
    <section class="services">
            <img src="Images/bracelet.png" alt="Logo bracelet">
            </br><p>Bracelets</p></br>
            <img src="Images/earring.png" alt="Logo earring">
            <br/><p>Earrings</p></br>
            <img src="Images/necklace.png" alt="Logo necklace">
            <br/><p>Necklaces</p><br>
            <img src="Images/ring.png" alt="Logo ring">
            <br/><p>Rings</p> <br>
    </section>
   
        <section class="best-items">
            <h2 class="section-title">
                Best-Sellers
            </h2>
            <div class="best-sellers">
                <div class="jewel1">
                </div>
                <a class="jewel-box jewel1 no-grid" href="http://localhost:9000/Jewels/show/21">
                    <div class="jewel-details">                  
                        <p class="jewel-name">Platinium Bracelet</p>
                        <p class="jewel-price">1000 $</p>
                    </div>
                </a>
                <a class="jewel-box jewel2 no-grid" href="http://localhost:9000/Jewels/show/27">
                    <div class="jewel-details">
                        <p class="jewel-name">Platinium Earrings</p>
                        <p class="jewel-price">1000 $</p>
                    </div>
                </a>
                <a class="jewel-box jewel3 no-grid" href="http://localhost:9000/Jewels/show/5">
                    <div class="jewel-details">
                        <p class="jewel-name">Platinium Necklace</p>
                        <p class="jewel-price">1000 $</p>
                    </div>
                </a>
                <a class="jewel-box jewel4 no-grid" href="http://localhost:9000/Jewels/show/13  ">
                    <div class="jewel-details">
                        <p class="jewel-name">Platinium Ring</p>
                        <p class="jewel-price">1000 $</p>
                    </div>
                </a>
            </div>
        </section>
</body>
<%- include("partials/footer") %>

